.header {
    height: 25vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $bp-small) {
        height: 35vh;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: end;
    }
    
    &__title {
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        color: white;

        &:hover{
            color: $color-primary-dark-1;
        }
    }

    &__form{
        width: 25%;
        margin: 1rem;

        @media only screen and (max-width: $bp-medium) {
            width: 80vw;
        }

        @media only screen and (max-width: $bp-small) {
            order: 3;
        }
    }

    &__text{
        padding: 2rem;
        color: white;
        display: flex;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
            color: $color-primary-dark-1;
        }
    }

}

