.page {
    padding: 8rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 0;
        max-width: 100%;
        width: 100%;
    }
   
}

.main-content {
    background-color: white;
}