// COLORS

$color-primary: orange;
$color-primary-light-1: #4267c3;
$color-primary-dark-1: #384d77;
$color-grey-light-1: #faf9f9;
// RESPONSIVE BREAKPOINTS
$bp-medium: 56.25em;    // 800px;
$bp-small: 37.5em;    // 600/16px;