*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; 
}

body {
    box-sizing: border-box;
    background-image: linear-gradient(to right bottom, $color-primary-light-1, $color-primary-dark-1);
    background-size: cover;
   
}

section {
    padding: 3rem;

    
    @media only screen and (max-width: $bp-small) {
        padding: 0;
    }
}